body #idStatus {
  width: 600px;
  height: 40px;
}
body #idRoot {
  width: 600px;
  height: 250px;
}
body #idRoot .-grid-item {
  width: 100px;
  height: 100px;
  background-color: darkgray;
}
body #idRoot .-grid-item.-f {
  background-color: lightgray;
}
body #idRoot .-grid-item.-f.-fd {
  background-color: lightpink;
}
body #idRoot .-grid-item .title {
  font-size: 14px;
  font-style: oblique;
  line-height: 20px;
  height: 20px;
}
body #idRoot .-grid-item .desc {
  font-size: 10px;
  padding: 0px 0px 0px 4px;
  overflow: hidden;
  height: 80px;
}
